$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$white: #fff;
$black: #061c37;
$gray: #66696f;
//$border_color: #f5f9fa;
$border_color: #ebecf2;
$bg_color: #ffffff;
$heading_bg: #ebecf2;
