$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$white: #fff;
$black: #0d0c22;
$gray: #66696f;
$border_color: #eaeef4;
$bg_color: #ffffff;
